<center>
  <h3>blabla <%= title %></h3>
  blablablablabla
  <table>
    <tr>
      <td>tipo de reclamo</td>
      <td>observacion</td>
      <td>fecha</td>
    </tr>
    <tr>
      <td><%= reclamo.tipoReclamo %></td>
      <td><%= reclamo.observacion %></td>
      <td><%= reclamo.fecha %></td>
    </tr>
  </table>
</center>
